# Craft runtime and backups folders
# ----------------------------------------------------------------------
/craft/storage/*
!/craft/storage/logo/*
!/craft/storage/userphotos/

# Uploaded files
# ----------------------------------------------------------------------
node_modules/

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj

libs
