# Craft runtime and backups folders
# ----------------------------------------------------------------------
/craft/storage/runtime/*
/craft/storage/backups/*

# Uploaded files
# ----------------------------------------------------------------------
node_modules/

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj

libs
