/* Flexbox stuff */
/* Other */
/* RTL stuff */
html, body { height: 100%;}

body {overflow-x: hidden;}

#login-form { display: block; position: relative;}
/*#login-form { display: block; position: absolute; top: 50%; left: 50%; margin: -208px 0 0 -150px; width: 300px; background: no-repeat center top; }*/

#login-form.has-logo {
  padding-top: 116px;
}

#login-form h1 { text-align: center; font-size: 3em; color: #29323d; word-wrap: break-word; }

#login-form .field { margin: 0; }

#login-form .btn { display: block; }

#login-form .text:focus { position: relative; z-index: 1; }

.passwordwrapper .password-toggle { z-index: 1; }

#loginName { padding: 14px 16px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}

#login-form.reset-password #loginName { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

#password { margin-top: -1px; padding: 14px 5em 14px 16px; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

#password-field .passwordwrapper .password-toggle { top: 14px; }
body.ltr #password-field .passwordwrapper .password-toggle { right: 14px; }
body.rtl #password-field .passwordwrapper .password-toggle { left: 14px; }

#rememberMe-field { padding-top: 24px; float: left; width: auto; text-align: left; display: inline-block;}

#forgot-wrapper {float: left; text-align: right; width: 60%; display: inline-block;}
#forgot-password { position: relative; z-index: 1; display: block; font-style: normal; font-size: 11px; color: #8f98a3; margin-top: 24px; }
body.ltr #forgot-password { float: right; }
body.rtl #forgot-password { float: left; }

#forgot-password:hover { color: #03ACFF; text-decoration: none; }

#login-form .buttons { position: relative; text-align: center; }

#login-form #ssl-icon { position: absolute; top: 0; z-index: 1; line-height: 30px; width: 2.2em; color: #fff; text-align: center; cursor: pointer; }
body.ltr #login-form #ssl-icon { left: 0; }
body.rtl #login-form #ssl-icon { right: 0; }

#login-form #ssl-icon.disabled { opacity: 0.75; cursor: default; }

body.ltr #login-form #ssl-icon + #submit { padding-left: 2em; }
body.rtl #login-form #ssl-icon + #submit { padding-right: 2em; }

#login-form .submit { display: block; width: auto; float: none; padding: 14px 16px; height: auto; width: 100%; border-radius: 4px; margin-top: 16px; font-family: AvenirNext-DemiBold, sans-serif;}

#spinner { position: absolute; top: 58px; left: 50%; margin-left: -12px; }

p.error { text-align: center; }

#poweredby { display: block; text-align: center; margin-top: 70px; margin-bottom: 48px; opacity: .6; }

#poweredby:hover { opacity: 0.8; }

#poweredby:active { opacity: 1; }

.modal.email-sent { width: 300px; }

body.ltr .modal.email-sent .body { padding-left: 68px; }
body.rtl .modal.email-sent .body { padding-right: 68px; }

.modal.email-sent .body:before { font-family: 'Craft'; speak: none; -webkit-font-feature-settings: "liga", "dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga", "dlig"; -ms-font-feature-settings: "liga", "dlig"; -o-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig"; text-rendering: optimizeLegibility; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; direction: ltr; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; text-align: center; font-style: normal; vertical-align: middle; word-wrap: normal !important; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; display: block; position: absolute; top: 17px; top: 24px; content: 'mail'; font-size: 30px; color: #0d78f2; }
body.ltr .modal.email-sent .body:before { left: 24px; }
body.rtl .modal.email-sent .body:before { right: 24px; }



/*#loginBlock, #adminLoginBlock {
  width: 50%;
  position: relative;
  display: block;
  margin: auto;
}*/

#loginBlock {
  height: auto;
  width: 100%;
  margin-bottom: 30px;
}

#adminLoginBlock {
  display: block;
  background-color: #e2e3e4;
  text-align: center;
  padding: 25px 80px;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  box-sizing: border-box;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

h3 {
  text-align: left;
  margin-bottom: 8px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 767px),
only screen and (min--moz-device-pixel-ratio: 1.5) and (max-width: 767px),
only screen and (-o-min-device-pixel-ratio: 3 / 2) and (max-width: 767px),
only screen and (min-device-pixel-ratio: 1.5) and (max-width: 767px),
only screen and (min-resolution: 1.5dppx) and (max-width: 767px){
  /*#loginBlock {height: 30%; width: 80%; margin-bottom: 3em;}
  #adminLoginBlock { padding: 1em; width: 80%;}
  #login-form { background-size: 202px;}*/
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 500px) and (max-width: 1024px),
only screen and (min--moz-device-pixel-ratio: 1.5) and (min-width: 500px) and (max-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 3 / 2) and (min-width: 500px) and (max-width: 1024px),
only screen and (min-device-pixel-ratio: 1.5) and (min-width: 500px) and (max-width: 1024px),
only screen and (min-resolution: 1.5dppx) and (min-width: 500px) and (max-width: 1024px) {
  /*#loginBlock {height: 25%; width: 80%; margin-bottom: 3em;}*/
  /*#adminLoginBlock { padding: 1em;  width: 478px;;}*/
  /*#login-form { background-size: 202px;}*/
}

@media (max-width: 800px) {
  /*#loginBlock {height: 25%; width: 478px; margin-bottom: 3em;}*/
  #adminLoginBlock { padding: 25px 50px;}
  #forgot-wrapper { width: 100%; }
}

@media (max-width: 800px) {
  #login-form #rememberMe-field, #login-form #forgot-wrapper {
    width: 100%;
    clear: both;
    /*border: dashed #444444 1px;*/
    padding-top: 10px;
  }
  #login-form #forgot-wrapper {
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: left;
  }

  body.ltr #forgot-password {
    float: left;
    margin-top: 0;
  }
}
#logo {
  display: block;
  margin: auto;
  padding: 12px 48px 12px 48px;
}

.okta {
  display: block;
  margin: auto;
  padding: 2px 25px;
  /* Rectangle: */
  background: #0079B7;
  border: 1px solid #00699F;
  border-radius: 4px;
  /* Log in with Okta: */
  font-family: AvenirNext-DemiBold, sans-serif;
  font-size: 14px;
  font-weight: initial;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  line-height: 16px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  /*animation: reset .2s ease-in-out;
  animation-fill-mode: forwards;*/
}
.okta:hover {
  /* transition: all 0.3s ease 0s; */
  /*animation: nudge .2s ease-in-out;
  animation-fill-mode: forwards;*/
  background: #00699F;
  border: 1px solid #00699F;
}
.okta:active {
  transform: translate(0, 5px);
  box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
}

/*@keyframes nudge {

  0% {
    transform: translate(0, 0px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  100% {
    transform: translate(0, -3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
}
@keyframes reset {

  0% {
    transform: translate(0, -3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  }
  100% {
    transform: translate(0, 0px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
}*/


/*# sourceMappingURL=login.css.map */
