@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

td
th 
  padding 10px 20px 10px 0px
.green
  color green

.red
  color red
.box__uploading
.box__success
.box__error
  display none

.fa-spinner
  animation animationFrames linear 1s
  animation-iteration-count infinite
  transform-origin 50% 50%
  animation-fill-mode forwards
.toggle-container
  width 250px
@keyframes animationFrames
  0%
    transform rotate(0deg)

  100%
    transform rotate(360deg)
    