{% extends "_layouts/cp" %}
{% set centered = true %}
{% set title = 'Vandelay' %}
{% set sections = craft.sections.getAllSections() %}
{% set categories = craft.categories.getAllCategories() %}
{% set locales = craft.i18n.getSiteLocaleIds()%}
{% set handles = [] %}
{% includeCssFile 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}
{% for style in craft.vandelay.stylesheets %}
  {% includeCssFile style %}
{% endfor %}
{% set content %}
    <h1>An importer! An exporter!</h1>
    <div id="vandelay"></div>
{% set sectionsObj = [
{name: 'Globals', locales: locales }
] %}
{% for section in sections %}
  {% if section.name == 'Pages' %}
    {% for page in craft.entries.section(section.handle) %}
      {% set sectionLocales = page.getLocales() %}
      {% set sectionsObj = sectionsObj|merge([{
        name: page.title,
        locales: sectionLocales|keys
      }]) %}
    {% endfor %}
  {% else %}
    {% set sectionLocales = section.getLocales() %}
    {% set sectionsObj = sectionsObj|merge([{
      name: section.name,
      handle: section.handle,
      locales: sectionLocales|keys
    }]) %}
  {% endif %}
{% endfor %}
<script type="application/json" id="props">
  {"locales": {{ locales|json_encode|raw }},
    "sections": {{ sectionsObj|json_encode|raw }}}
</script>
{% endset %}
{% for script in craft.vandelay.scripts %}
  {% includeJsFile script %}
{% endfor %}
{% set js %}
  var $form = $('form');
  var $table = $form.find('tbody');
  var droppedFiles = false;
  var fileSelect = document.getElementById('file');
  $form.on('submit', function (e) {
    e.preventDefault();
    $table.html('');
    $('.box__uploading').css('display', 'block');
    $('.box__success').css('display', 'none');
    var ajaxData = new FormData();
    var files = fileSelect.files;
    for (var i = 0, f; f = files[i]; i++) {
      var file = files[i];
      var reader = new FileReader();
      reader.onload = (function(theFile) {
        var file = theFile.name;
        var $fileStatus;
        var name;
        var regex = /(..\_..)+/gi;
        var m = file.match(regex);
        file.replace(regex, function(match, g1, g2) { 
          name = g1.toLowerCase();
        });
        $table.append("<tr class='file-"+i+"'><td>"+
                      file + 
                      "</td><td>" +
                      name + 
                      "</td><td class='file-status'>Uploading...</td></tr>");
        $fileStatus = $('.file-'+i).find('.file-status');
        return function(e) {
          var p = JSON.parse(e.target.result);
          p.locale = name;
          if (p[0]) {
            [].slice.call(p).forEach(function(item) {
              item.locale = name;
            });
          }
          $.post({
            url: $form.attr('action'),
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            processData: false,
            data: JSON.stringify(p),
            success: function(data) {
              if (data.status == 200) {
                $fileStatus.html('Done!');
                console.log(data);
              } else {
                $fileStatus.html('Error!');
                console.log('error', data);
              }
            },
            error: function(err) {
              console.log('errrr', err);
            }
          });
        };
      })(f);
      reader.readAsText(f);
    }
  })
{% endset %}
{% includeJs js %}