{% set css %}
  td, th {
    padding: 10px 20px 10px 0px;
  }
  input#file {
    display: none;
  }
  .box__dragndrop,
  .box__uploading,
  .box__success,
  .box__error {
    display: none;
  }
  .fa-spinner{
    animation: animationFrames linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames linear 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: animationFrames linear 1s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames linear 1s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames linear 1s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }
  .ui-wrapper {
    background-color: #f4f5f6;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #e2e2e2;
  }
  .ui-wrapper .btn {
    width: 100%;
  }
  .ui-wrapper .import-btn {
    width: 50%;
    display: inline-block;
    font-size: .8rem;
    text-align: center;
  }
  @keyframes animationFrames{
    0% {
      transform:  rotate(0deg) ;
    }
    100% {
      transform:  rotate(360deg) ;
    }
  }

  @-moz-keyframes animationFrames{
    0% {
      -moz-transform:  rotate(0deg) ;
    }
    100% {
      -moz-transform:  rotate(360deg) ;
    }
  }

  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform:  rotate(0deg) ;
    }
    100% {
      -webkit-transform:  rotate(360deg) ;
    }
  }

  @-o-keyframes animationFrames {
    0% {
      -o-transform:  rotate(0deg) ;
    }
    100% {
      -o-transform:  rotate(360deg) ;
    }
  }

  @-ms-keyframes animationFrames {
    0% {
      -ms-transform:  rotate(0deg) ;
    }
    100% {
      -ms-transform:  rotate(360deg) ;
    }
  }
{% endset %}
{% includeCss css%}
<div class="btngroup big previewbtns upload-box">
  <div class="box__input">
    <input class="box__file btn" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    <label for="file" class="import-btn">
      <a class="btn big livepreview">Import JSON file</a>
    </label>
    <a class="import-btn btn big livepreview submit" id="upload-trigger">
      <span class="box__default">Upload</span>
      <span class="box__uploading">Uploading&hellip;</span>
      <span class="box__success">Done!</span>
      <span class="box__error">Error! Import unsuccessful :(</span>
    </a>
  </div>
  <br/>
</div>
{% includeJsFile 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/FileSaver.js' %}
{% set js %}
  var $form = $('.upload-box');
  var $submit = $('#upload-trigger');
  var fileSelect = document.getElementById('file');
  var droppedFiles = false;
  var name;
  var $input  = $form.find('input[type="file"]'),
    $label    = $form.find('label'),
    showFiles = function(files) {
      $label.text(files.length > 1 ? ($input.attr('data-multiple-caption') || '').replace( '{count}', files.length ) : files[ 0 ].name);
    };

  $input.on('change', function(e) {
    showFiles(e.target.files);
  });
  $submit.on('click', function (e) {
    e.preventDefault();
    $('.box__uploading').css('display', 'block');
    $('.box__success').css('display', 'none');
    $('.box__error').css('display', 'none');
    $('.box__default').css('display', 'none');
    var ajaxData = new FormData();
    var files = fileSelect.files;
    for (var i = 0, f; f = files[i]; i++) {
      var file = files[i];
      var reader = new FileReader();
      reader.onload = (function(theFile) {
        var file = theFile.name;
        var regex = /(..\_..)+/gi;
        var m = file.match(regex);
        
        file.replace(regex, function(match, g1, g2) { 
          name = g1.toLowerCase();
        });
        return function(e) {
          var p = JSON.parse(e.target.result);
          p.locale = name;
          if (p[0]) {
            [].slice.call(p).forEach(function(item) {
              item.locale = name;
            });
          }
          $.post({
            url: '{{ siteUrl }}vandelay/uploadEntry',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            processData: false,
            data: JSON.stringify(p),
            success: function(data) {
              if (data.status == 200) {
                $('.box__uploading').css('display', 'none');
                $('.box__default').css('display', 'none');
                $('.box__success').css('display', 'block');
                console.log(data);
              } else {
                $('.box__uploading').css('display', 'none');
                $('.box__default').css('display', 'none');
                $('.box__error').css('display', 'block');
              }
            },
            error: function (data) {
              $('.box__uploading').css('display', 'none');
              $('.box__default').css('display', 'none');
              $('.box__error').css('display', 'block');
            }
          });
        };
      })(f);
      reader.readAsText(f);
    }
  });
  $copy.on('click', function(e) {
    var id = $copy.attr('data-entry-id');
    $copy.text('Copying...');
    e.preventDefault();
    $.get({
      url: '{{ siteUrl }}simpleapi/Entry/' + id + '/en_us',
      success: function(data) {
        $copy.text('Copied!');
        var p = data.entry;
        $.post({
          url: '{{ siteUrl }}actions/simpleApi/copyEnglishToAll',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            processData: false,
            data: JSON.stringify(p),
            success: function(data) {
              if (data.status == 200) {
                console.log(data);
              } else {
                console.log('error', data);
              }
            },
        })
      },
    });
  });
{% endset %}
{% includeJs js %}