{% extends "_layouts/basecp" %}
{% import "_includes/forms" as forms %}
{% set title = "Login"|t %}
{% set bodyClass = 'login' %}
{% includecssresource "css/login.css" %}
{% includejsresource "js/login.js" %}
{% includeTranslations
	"Reset Password",
	"Check your email for instructions to reset your password."
%}
{% includejsresource "okta/sso.js" %}

{% set username = (craft.config.rememberUsernameDuration ? craft.session.rememberedUsername : '') %}

{% block body %}

<!--<div id="adminLoginBlock" style="position: relative!important; margin: 2em 0!important; display: inline-block; padding: 2em; background-color: #DDDDDD; width: 50%">Administrator Login:</div>-->
<div id="adminLoginBlock">

    <script type="text/javascript">
		var cookieTest = 'CraftCookieTest='+Math.floor(Math.random() * 1000000);
		document.cookie = cookieTest;
		var cookiesEnabled = document.cookie.search(cookieTest) != -1;
		if (cookiesEnabled)
		{
			document.cookie = cookieTest + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';


			document.getElementById('adminLoginBlock').innerHTML = '{%- set hasLogo = (CraftEdition >= CraftClient and craft.rebrand.isLogoUploaded ? true : false) -%}'+

				'{%- set hasLogo = (CraftEdition >= CraftClient and craft.rebrand.isLogoUploaded ? true : false) -%}'+
				'<div id="loginBlock">{% set image = craft.rebrand.logo %}<img id="logo" src="{{craft.rebrand.logo.url}}" /><h3>Staff Login:</h3><button type=button class="okta" onclick="oktaLogin();">Staff log in with Okta </button></div>' +
				'<h3>Administrator Login:</h3> <form id="login-form" method="post" accept-charset="UTF-8" >' +
					'{% set placeHolderText = (craft.config.useEmailAsUsername ? "Email"|t : "Username or Email"|t) %}' +
					'{{ forms.textField({ id: "loginName", name: "username", placeholder: "Username", value: "" })|e("js") }}' +

					'<div id="login-fields" class="nested-fields">' +
						'{{ forms.passwordField({ id: "password", name: "password", placeholder: "Password"|t })|e("js") }}' +
						{% if craft.config.rememberedUserSessionDuration %}
							'{{ forms.checkboxField({ id: "rememberMe", label: "Keep me logged in"|t })|e("js") }}' +
						{% endif %}
			            '<div id="forgot-wrapper"><a id="forgot-password">{{ "Forget your password?"|t }}</a></div>' +
					'</div>' +

					'<div class="buttons">' +
						'{# <div id="ssl-icon" class=""><div class="{{ craft.request.isSecure ? "secure" : "insecure" }} icon"></div></div>#}' +
						'<input id="submit" class="btn submit disabled" type="submit" value="{{ "Login"|t }}">' +
						'<div id="spinner" class="spinner hidden"></div>' +
						'<br>' +
					'</div>' +
				'</form>';

			{#
				// removing focus function since most users will be going through Okta
				{% if not craft.request.isMobileBrowser(true) %}
				document.getElementById("{{ (username ? 'password' : 'loginName') }}").focus();
			{% endif %} #}
		}
		else
		{
			document.write(
				'<div class="no-access">' +
					'<div class="pane">' +
						'<div class="pane-body">' +
							'<div class="notice">' +
								'<div class="icon"></div>' +
								'<p>{{ "Cookies must be enabled to access the Craft CMS control panel."|t }}<br>' +
									'<a class="go nowrap" href="">{{ "See how"|t }}</a>' +
								'</p>' +
							'</div>' +
						'</div>' +
					'</div>' +
				'</div>'
			);
		}
	</script>
</div>
{% endblock %}
